.standings {
  overflow: auto;
  border: 1px solid #232323;
}

.standingsEntry {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 40px auto 1fr 100px 60px 60px;
  height: 40px;
  border-bottom: 1px solid #232323;
  font-size: var(--font-sm);
  background: #2a2a2a;
}

.standingsEntry:last-child {
  border-bottom: none;
}

.standingsEntry:nth-child(2n) {
  background: #343434;
}

.standings .placement {
  text-align: center;
  color: #a1a1a1;
}

.standings .logo {
  position: relative;
  padding-right: 0;
}

.standings .name {
  padding-left: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 1rem;
}

.standings .score,
.standings .perf,
.standings .rating {
  color: #a1a1a1;
}

.standingsWindow button {
  position: absolute;
  top: calc(0.5 * var(--gap));
  right: var(--gap);
}

.standingsWindow .githubPlug,
.standingsWindow .githubPlug a {
  color: #a1a1a1;
  font-size: var(--font-sm);
  margin: calc(-0.5 * var(--gap)) 0 0 0 !important;
}

@media ((min-width: 1401px) and (max-width: 1550px)) or (max-width: 450px) {
  .standingsEntry {
    grid-template-columns: 40px auto 1fr 100px 60px;
  }

  .standings .rating {
    display: none;
  }
}

@media (max-width: 400px) {
  .standingsEntry {
    grid-template-columns: 30px auto 1fr 100px 50px;
  }
}

@media (max-height: 850px) {
  .standingsWindow button {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }

  .standingsWindow .githubPlug,
  .standingsWindow .githubPlug a {
    margin: calc(-0.5 * var(--gap)) auto 0 auto !important;
  }
}
