.engineMinimal {
  width: 100%;
  align-self: baseline !important;
}

.engineMinimal .engineInfoTable {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.engineMinimal .engineField .key {
  font-size: 0;
}

.engineMinimal .engineField .key::first-letter {
  font-size: var(--font-sm);
}

.engineMinimal .engineField .value {
  margin-left: 1rem;
}

.engineMinimal .engineInfoHeader .engineLogo {
  width: 32px !important;
  height: 32px !important;
}

.engineMinimal {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  background: #343434;
  max-width: 100%;
  overflow: hidden;
}

.engineMinimal.borderRadiusBottom {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.engineMinimal.borderRadiusTop {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.engineMinimal hr {
  background: #434343;
  border: none;
  height: 1px;
  margin: 0;
}

.engineMinimal .engineName {
  font-weight: bold;
  text-transform: capitalize;
}

.engineMinimal .engineInfoHeader {
  display: flex;
  align-items: center;
}

.engineMinimal .engineOutput {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0.5rem 0 auto;
  font-weight: bold;
}

.engineMinimal .engineInfoTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 1rem;
  row-gap: 0.25rem;
  column-gap: 2rem;
  font-size: var(--font-sm);
}

.engineMinimal .engineField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.engineMinimal .engineField .key {
  color: #a1a1a1;
}

.engineMinimal .engineField .value,
.engineMinimal .enginePv,
.engineMinimal .engineOutput {
  font-family: "IBM Plex Mono", ui-monospace, monospace;
  font-variant-numeric: tabular-nums;
}

.engineMinimal .enginePv {
  --pv-rows: 3;
  line-height: 1rem;
  height: calc(var(--pv-rows) * 1rem);
  overflow: hidden;

  display: flex;
  column-gap: 1ch;
  flex-wrap: wrap;
}

.engineMinimal .enginePv .pvMove:first-child {
  margin-left: 1ch;
}

.engineMinimal .enginePv,
.engineMinimal .enginePv .pvMove {
  font-size: var(--font-sm);
  color: #a1a1a1;
}

@media (max-width: 775px) {
  .engineMinimal {
    border: 1px solid #1a1a1a;
  }
}
