.popup .settings {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.popup .settingsHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.popup .settingsHeader .closeButton {
  margin-right: 0;
}

.popup .settings .engineSettings {
  display: flex;
  gap: 1rem;
  row-gap: 0;
  flex-wrap: wrap;
  margin: 0.5rem 0 1rem 0;
}

.popup .settings .applySettings {
  width: fit-content;
}

.popup .settings .checkbox {
  display: flex;
  gap: 0.25rem;
}

.popup .settings small {
  width: 100%;
}

.topBar .settingsRow {
  margin-left: auto;
  display: flex;
  overflow: hidden;
  gap: var(--gap);
  justify-content: flex-end;

  .providerTabs {
    display: flex;

    button {
      border-radius: 0;

      &:not(:last-child) {
        border-right: none;
      }

      &:first-child {
        border-radius: 4px 0 0 4px;
      }

      &:last-child {
        border-radius: 0 4px 4px 0;
      }

      &:hover:not(:disabled) {
        background: #434343;
      }

      &:disabled {
        background: #4d4d4d;
        cursor: default;
      }
    }
  }
}

@media (max-width: 775px) {
  .topBar .settingsRow {
    margin-left: 0;
  }
}
