.popup .settings {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.popup .settingsHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.popup .settingsHeader .closeButton {
  margin-right: 0;
}

.popup .settings .engineSettings {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0.5rem 0 1rem 0;
}

.popup .settings .applySettings {
  width: fit-content;
}

.popup .settings .checkbox {
  display: flex;
  gap: 0.25rem;
}

.topBar .settingsRow {
  margin-left: auto;
  display: grid;
  grid-template-columns: calc(100% - 35px - var(--gap)) 35px;
  overflow: hidden;
  gap: var(--gap);
  justify-content: flex-end;
}

@media (max-width: 775px) {
  .topBar .settingsRow {
    margin-left: 0;
  }
}
