.crosstable {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.crosstable td:has(button) {
  text-align: center;
}

.crosstable td {
  padding: 1rem;
  box-shadow: inset 0 -1px 0 #212121, inset -1px 0 0 #212121;
}

.crosstable tr:first-child td {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #2a2a2a;
  box-shadow: inset 0 -3px 0 #212121,  inset -1px 0 0 #212121;
}

.crosstable tr td:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background: #2a2a2a;
  box-shadow: inset -3px 0 0 #212121, inset 0 -1px 0 #212121;
}

.crosstable tr:first-child td:first-child {
  z-index: 3;
  box-shadow: inset 0 -3px 0 #212121, inset -3px 0 0 #212121;
}

.crosstable tr td:first-child {
  text-wrap: nowrap;
}

.crosstable .h2h {
  display: flex;
  flex-wrap: wrap;
}

.crosstable .gamePair {
  width: 2.25rem;
  margin-right: 0.125rem;
  display: flex;
  justify-content: space-evenly;
}

.crosstable .h2hCell {
  min-width: 11.5rem;
}

.crosstable .h2hStats {
  margin-bottom: 0.4rem;
  font-size: 1rem;
  line-height: 1.2;
  color: #a1a1a1;
}

.crosstable .h2hStats span {
  display: block;
  white-space: nowrap;
}

.crosstable .h2hStats .pentaStat {
  font-family: monospace;
  font-variant-numeric: tabular-nums;
}

.crosstable .h2hStats .elo.win {
  color: #43a047;
}

.crosstable .h2hStats .elo.loss {
  color: #e53935;
}

.crosstable .h2hStats .elo.draw,
.crosstable .h2hStats .elo.tbd {
  color: #a1a1a1;
}

.crosstable .gamePair.win {
  background: #43a04733;
}

.crosstable .gamePair.loss {
  background: #e5393533;
}

.crosstable .h2h span.win {
  color: #43a047;
}

.crosstable .h2h span.loss {
  color: #e53935;
}

.crosstable .h2h span.draw,
.crosstable .h2h span.tbd {
  color: #a1a1a1;
}

@media (max-width: 768px) {
  .crosstable td {
    padding: 0.6rem;
  }

  .crosstable .gamePair {
    width: 2rem;
    margin-right: 0.1rem;
  }
}
