.engine {
  display: grid;
  grid-template-columns: 50px repeat(6, 1fr);
  align-items: center;
  gap: 1rem;
  background: #343434;
}

.engine:first-of-type {
  border-bottom: 1px solid #121212;
}

.engine:last-of-type {
  margin-top: -2px;
  border-top: 1px solid #121212;
}