.engineComponent {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #343434;
  border: 1px solid #1a1a1a;
  max-width: 100%;
  overflow: hidden;
}

.engineComponent > :last-child {
  flex-grow: 1;
}

.engineComponent hr {
  background: #434343;
  border: none;
  height: 1px;
  margin: 0;
}

.engineName {
  font-weight: bold;
}

.engineInfoHeader {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.engineEval {
  margin: 0 1rem 0 auto;
  font-weight: bold;
}

.engineInfoTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 1rem;
  row-gap: 0.25rem;
  column-gap: 2rem;
  font-size: 0.9rem;
}

.engineField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.engineField .key {
  color: #a1a1a1;
}

.engineField .value,
.enginePv,
.engineEval {
  font-family: "IBM Plex Mono", ui-monospace, monospace;
  font-variant-numeric: tabular-nums;
}

.enginePvWrapper {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.enginePv {
  color: #a1a1a1;
  font-size: 0.9rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .engineComponent {
    height: fit-content;
  }

  .engineComponent:nth-child(2) {
    align-self: center;
  }

  .engineComponent:last-child {
    align-self: flex-end;
  }

  .enginePv,
  .enginePvDivider {
    display: none;
  }
}

@media (max-width: 775px) {
  .engineComponent {
    align-self: baseline !important;
  }

  .engineInfoTable {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .engineField .key {
    font-size: 0;
  }

  .engineField .key::first-letter {
    font-size: 0.9rem;
  }

  .engineField .value {
    margin-left: 1rem;
  }

  .engineInfoHeader .engineName {
    display: none;
  }

  .engineInfoHeader {
    margin-left: 0;
  }

  .engineInfoHeader .engineLogo {
    width: 32px;
    height: 32px;
  }
}
