.engineComponent {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #343434;
  border: 1px solid #1a1a1a;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.engineComponent .engineLeftSection {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.engineComponent hr {
  background: #434343;
  border: none;
  height: 1px;
  margin: 0;
  flex-shrink: 0;
}

.engineComponent .engineName {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-wrap: break-spaces;
  white-space: nowrap;
  max-width: calc(var(--engine-card-info-width));
}

.engineComponent .engineInfoHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 1.4rem 0.125rem 0.5rem;
  justify-content: space-between;
}

.engineComponent .engineInfoTable {
  display: flex;
  gap: 1.6rem;
  font-size: var(--font-sm);
  margin: 0.25rem 0 0.5rem;
  padding: 0 1.25rem;
  overflow-x: auto;
  text-align: center;
}

.engineComponent .engineInfoEval {
  font-weight: bold;
  font-size: var(--font-xl);
}

.engineComponent .engineField {
  display: inline-block;
  padding: 0.125rem;
  white-space: nowrap;
  width: fit-content;
}

.engineComponent .engineField .key {
  color: #a1a1a1;
}

.engineComponent .engineField .value,
.engineComponent .enginePv,
.engineComponent .engineEval {
  font-family: "IBM Plex Mono", ui-monospace, monospace;
  font-variant-numeric: tabular-nums;
}

.engineComponent .engineField .value {
  white-space: nowrap;
}

.engineComponent .engineRightSection {
  display: flex;
  height: calc(var(--engine-board-width)) !important;
}

.engineComponent .board {
  border-radius: 4px;
  height: calc(var(--engine-board-width)) !important;
  width: calc(var(--engine-board-width)) !important;
  min-width: calc(var(--engine-board-width)) !important;
  overflow: hidden;
}

.engineComponent .board cg-container {
  height: calc(var(--engine-board-width)) !important;
  width: calc(var(--engine-board-width)) !important;
}

.engineComponent .movesWindow {
  overflow-y: auto;
  width: var(--engine-card-movelist-width);
  min-width: var(--engine-card-movelist-width);
}

.engineComponent .enginePv {
  --pv-rows: 3;
  line-height: 1rem;
  height: calc(var(--pv-rows) * 1rem);
  overflow: hidden;
  display: flex;
  column-gap: 1ch;
  flex-wrap: wrap;
}

.engineComponent .enginePv .pvMove:first-child {
  margin-left: 1ch;
}

.engineComponent .enginePv,
.engineComponent .enginePv .pvMove {
  font-size: var(--font-sm);
  color: #a1a1a1;
}

@media (max-width: 1750px) {
}
