.engineComponent {
  display: flex;
  border-radius: 8px;
  background: #343434;
  border: 1px solid #1a1a1a;
  overflow: hidden;
  height: 100%;
}

.engineComponent .engineLeftSection {
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 0.25rem 1rem 0.125rem 0.5rem;
  width: var(--engine-card-info-width);
  min-width: var(--engine-card-info-width);
}

.engineComponent .engineLeftSection > hr {
  background: #434343;
  border: none;
  height: 1px;
  margin: 0;
}

.engineComponent .engineName {
  font-weight: bold;
}

.engineComponent .engineInfoHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.25rem;
}

.engineComponent .engineInfoTable {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 0.25rem;
  margin-left: 0.25rem;
  font-size: 0.9rem;
  padding: 0.5rem 0;
  flex-grow: 1;
}

.engineComponent .engineInfoEval {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-weight: bold;
  font-size: 1.2rem;
}

.engineComponent .engineField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.engineComponent .engineField .key {
  color: #a1a1a1;
}

.engineComponent .engineField .value,
.engineComponent .enginePv,
.engineComponent .engineEval {
  font-family: "IBM Plex Mono", ui-monospace, monospace;
  font-variant-numeric: tabular-nums;
}

.engineComponent .engineRightSection {
  display: flex;
  height: calc(var(--engine-board-width)) !important;
  transform: translateY(
    calc((var(--engine-card-height) - var(--engine-board-width)) / 2)
  );
}

.engineComponent .board {
  border-radius: 4px;
  height: calc(var(--engine-board-width)) !important;
  width: calc(var(--engine-board-width)) !important;
  overflow: hidden;
}

.engineComponent .board cg-container {
  height: calc(var(--engine-board-width)) !important;
  width: calc(var(--engine-board-width)) !important;
}

.engineComponent .board cg-board {
  background-color: #8ca2ad;
  aspect-ratio: 1;
}

.engineComponent .movesWindow {
  overflow-y: auto;
  width: var(--engine-card-movelist-width);
  min-width: var(--engine-card-movelist-width);
}

.engineComponent .enginePv {
  --pv-rows: 3;
  line-height: 1rem;
  height: calc(var(--pv-rows) * 1rem);
  overflow: hidden;
  display: flex;
  column-gap: 1ch;
  flex-wrap: wrap;
}

.engineComponent .enginePv .pvMove:first-child {
  margin-left: 1ch;
}

.engineComponent .enginePv,
.engineComponent .enginePv .pvMove {
  font-size: 0.9rem;
  color: #a1a1a1;
}

@media (max-width: 1600px) {
  .engineComponent .engineRightSection {
    flex-direction: column;
    height: calc(100% - 2 * var(--padding)) !important;
    transform: translateY(var(--padding));
  }

  .engineComponent .movesWindow {
    height: calc(100% - var(--engine-board-width));
    width: 100%;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 1400px) {
  .engineComponent {
    border: none;
    padding: 0;
    height: calc(100% - 44px);
    width: 100%;
  }

  .engineComponent .engineLeftSection {
    width: 100%;
  }
}