.engineComponent {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #343434;
  border: 1px solid #1a1a1a;
  max-width: 100%;
  overflow: hidden;
}

.engineComponent > :last-child {
  flex-grow: 1;
}

.engineComponent hr {
  background: #434343;
  border: none;
  height: 1px;
  margin: 0;
}

.engineComponent .engineName {
  font-weight: bold;
}

.engineComponent .engineInfoHeader {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.engineComponent .engineEval {
  margin: 0 1rem 0 auto;
  font-weight: bold;
}

.engineComponent .engineInfoTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.5rem 1rem;
  row-gap: 0.25rem;
  column-gap: 2rem;
  font-size: 0.9rem;
}

.engineComponent .engineField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.engineComponent .engineField .key {
  color: #a1a1a1;
}

.engineComponent .engineField .value,
.engineComponent .enginePv,
.engineComponent .engineEval {
  font-family: "IBM Plex Mono", ui-monospace, monospace;
  font-variant-numeric: tabular-nums;
}

.engineComponent .enginePvWrapper {
  margin: 0.5rem 1rem;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.engineComponent .enginePv {
  --pv-rows: 3;
  line-height: 1rem;
  height: calc(var(--pv-rows) * 1rem);
  overflow: hidden;

  display: flex;
  column-gap: 1ch;
  flex-wrap: wrap;
}

.engineComponent .enginePv .pvMove:first-child {
  margin-left: 1ch;
}

.engineComponent .enginePv,
.engineComponent .enginePv .pvMove {
  font-size: 0.9rem;
  color: #a1a1a1;
}

@media (max-width: 1100px) {
  .engineComponent {
    height: fit-content;
  }

  .engineComponent:nth-child(2) {
    align-self: center;
  }

  .engineComponent:last-child {
    align-self: flex-end;
  }

  .engineComponent .enginePv,
  .engineComponent .enginePvDivider {
    display: none;
  }
}

@media (max-width: 775px) {
  .engineComponent {
    border: none;
  }
}
