@media (max-width: 1400px) {
  .engineVsEngine {
    text-align: center;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .engineVsEngine .engineVsEngineBody,
  .engineVsEngine .engineVsEngineHeader,
  .engineVsEngine .engineVsEngineEval {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    align-items: end;
  }

  .engineVsEngine .engineVsEngineBody,
  .engineVsEngine .engineVsEngineEval {
    padding: var(--padding) 0;
    flex-grow: 1;
    row-gap: 0.5rem;
  }

  .engineVsEngine hr {
    background: #434343;
    border: none;
    height: 1px;
    margin: 0;
  }

  .engineVsEngine .engineWhite,
  .engineVsEngine .engineBlack {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .engineVsEngine .engineField .value,
  .engineVsEngine .enginePv,
  .engineVsEngine .engineEval {
    font-family: "IBM Plex Mono", ui-monospace, monospace;
    font-variant-numeric: tabular-nums;
  }

  .engineVsEngine .engineName {
    font-weight: bold;
  }

  .engineVsEngine .engineEval {
    font-size: 1rem;
    font-weight: bold;
  }

  .engineVsEngine .engineLogo {
    width: 50px;
    height: 50px;
    margin: 7px;
    border-radius: 4px;
  }

  .engineVsEngine .engineLabel {
    color: #a1a1a1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
