.gameGraph {
  height: 100%;
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 1rem;
}

@media (max-width: 1920px) {
  .gameGraph {
    grid-template-columns: 75px 1fr;
  }
}

.modeSelectorList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modeSelector {
  width: 100%;
}

.graphWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
}
