.gameGraph {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: calc(50px + var(--padding)) 1fr;
  gap: 0;
}

.modeSelectorList {
  display: flex;
  justify-content: space-between;
  padding: var(--padding) 0rem;
  flex-direction: row;
  overflow: auto;
  gap: 0.25rem;
}

.modeSelector {
  width: fit-content;
  flex-grow: 1;
  white-space: nowrap;
}

.graphWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding-bottom: var(--padding);
}

.graphWindow {
  padding: 0 var(--padding) !important;
}

@media (max-width: 775px) {
  .gameGraph {
    grid-template-rows: 50px 1fr;
  }
}
