.movesWindow {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  text-align: left;
  gap: 0.5rem;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: var(--movelist-width);
  height: 100%;
  font-size: var(--font-sm);
  padding: 0.5rem !important;
  position: relative;
  border-radius: 8px;
  background: #343434;
  overflow: hidden;
  container-type: inline-size;
}

.boardWindow .movesWindow {
  border: 1px solid #1a1a1a;
  border-left: none;
}

.moveList {
  --movelist-columns: 1;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--movelist-columns), 32px 1fr 1fr);
  padding-left: 4px;
  max-height: 100%;
  overflow: auto;
}

.moveList .moveRow {
  grid-column: span 3;
  display: grid;
  grid-template-columns: subgrid;
  align-items: center;
  cursor: pointer;
}

@container (min-width: 250px) {
  .moveList {
    --movelist-columns: 2;
  }
}

@container (min-width: 350px) {
  .moveList {
    --movelist-columns: 3;
  }
}

.moveList .moveNumber {
  cursor: default;
  text-align: right;
  width: 3ch;
  margin-right: auto;
  color: #a1a1a1;
}

.moveList .move {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #a1a1a1;
}

.moveList .move:hover {
  color: #ddd;
}

.moveList .disagreementMove {
  color: #e53935;
}

.moveList .bookMove {
  color: #84a7b9;
}

.moveList .currentMove {
  color: #fff;
}

.moveButtonsWrapper {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 0.5rem;
  width: 100%;
}

.moveButtons {
  display: flex;
  gap: 0.5rem;
}

.moveButtons button,
.moveButtons a {
  flex-grow: 1;
  font-size: 1.5rem;
  padding: 0.25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

@media (max-width: 775px) {
  .boardWindow > .movesWindow {
    grid-column: 1 / 2;
    width: var(--board-size);
    border-radius: 8px !important;
    grid-row: 5;
    max-height: 200px;
  }

  .moveButtonsWrapper {
    flex-direction: row;
    gap: 0.5rem;
    margin: 0 auto;
    justify-content: center;
  }

  .moveButtons {
    flex-grow: 1;
  }
}
