.app:has(.popup),
body:has(.popup) {
  overflow: hidden;
}

.popup {
  position: fixed;
  background: #2a2a2a;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;

  z-index: 100;
  overflow: auto;
}
