.scheduleWindow {
  margin-top: 0.5rem;
  max-height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 2fr auto 1fr;
  gap: 1rem;
}

.schedule {
  overflow: auto;
  border: 1px solid #121212;
}

.schedule .game {
  display: grid;
  align-items: center;
  grid-template-columns: 50px 50px 1fr 3rem 1fr 50px;
  cursor: pointer;
  height: 50px;
  border-bottom: 1px solid #121212;
}

.schedule .game img {
  width: 36px;
  height: 36px;
}

.schedule .game:nth-child(4n + 1),
.schedule .game:nth-child(4n + 2) {
  background: #2A2A2A;
}

.schedule .game:nth-child(4n + 3),
.schedule .game:nth-child(4n + 4) {
  background: #343434;
}

.schedule .game:hover {
  background: #434343;
}

.schedule .game.active {
  background: #4D4D4D;
}

.schedule .game .round {
  text-align: center;
  font-size: 0.9rem;
}

.schedule .game .vs {
  font-size: 0.9rem;
}

.schedule .game .engineName.winner {
  color: #43A047;
}

.schedule .game .engineName.loser {
  color: #E53935;
}

.schedule .game .engineName.draw {
  color: #A1A1A1;
}