.schedule {
  overflow: auto;
  border: 1px solid #232323;
}

.schedule .game {
  display: grid;
  align-items: center;
  grid-template-columns: 50px 50px 1fr 3rem 1fr 50px;
  cursor: pointer;
  height: 50px;
  border-bottom: 1px solid #232323;
}

.schedule .game:nth-child(4n + 1),
.schedule .game:nth-child(4n + 2) {
  background: #2a2a2a;
}

.schedule .game:nth-child(4n + 3),
.schedule .game:nth-child(4n + 4) {
  background: #343434;
}

.schedule .game:hover {
  background: #434343;
}

.schedule .game.active {
  background: #4d4d4d;
}

.schedule .game .round {
  text-align: center;
  font-size: 0.9rem;
  color: #a1a1a1;
}

.schedule .game .vs {
  font-size: 0.9rem;
  color: #a1a1a1;
}

.schedule .game .engineName.winner {
  color: #43a047;
}

.schedule .game .engineName.loser {
  color: #e53935;
}

.schedule .game .engineName.draw {
  color: #a1a1a1;
}

@media (max-width: 775px) {
  .schedule .game {
    grid-template-columns: 35px 40px 1fr 2rem 1fr 40px;
  }

  .schedule .game .engineLogo {
    width: 28px;
    height: 28px;
  }

  .schedule .game .round {
    font-size: 0.75rem;
  }
}
