.standingsWrapper {
  height: 100%;
  overflow: auto;
}

.standings {
  background: #2a2a2a;
  border: 1px solid #232323;
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9rem;
}

.standingsEntry {
  border-bottom: 1px solid #232323;
}

.standingsEntry .engineLogo {
  margin: 0 !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.standings tr:nth-child(2n) td {
  background: #323232;
}

td.placement {
  width: 2.25rem;
  text-align: center;
  color: #a1a1a1;
}

td.logo {
  position: relative;
  height: 50px;
  width: 50px;
  padding-right: 0;
}

td.name {
  padding-left: 0;
}

td.score,
td.perf,
td.rating {
  color: #a1a1a1;
}

td.score {
  width: 110px;
}

td.perf {
  width: 70px;
}

td.rating {
  width: 70px;
}

@media (max-width: 1775px) {
  td.placement {
    width: 2.25rem;
  }

  td.logo {
    width: 45px;
    overflow: hidden;
  }

  td.score {
    width: 90px;
    text-align: right;
  }

  td.perf {
    width: 80px;
    text-align: right;
    padding-right: var(--padding);
  }

  td.rating {
    display: none;
  }
}

@media (max-width: 1550px) {
  td.perf {
    width: 70px;
  }
}

@media (max-width: 775px) {
  .standingsWrapper {
    margin-top: calc(var(--padding) / 2);
  }

  .standingsWindow h4 {
    margin-top: calc(var(--padding) / 2) !important;
  }
}
