.standingsWrapper {
  height: 100%;
  overflow: auto;

  --placement-width: 2rem;
}

.standings {
  background: #2a2a2a;
  border: 1px solid #232323;
  width: 100%;
  border-collapse: collapse;
}

.standingsEntry {
  border-bottom: 1px solid #232323;
}

.standingsEntry td {
  padding: 0 0.5rem;
}

.standingsEntry .engineLogo {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.standings tr:nth-child(2n) td {
  background: #323232;
}

td.placement {
  width: var(--placement-width);
  text-align: center;
  color: #a1a1a1;
}

td.logo {
  position: relative;
  height: 50px;
  width: 50px;
  padding-right: 0;
}

td.name {
  padding-left: 0;
}

td.score,
td.perf,
td.rating {
  color: #a1a1a1;
}

td.score {
  width: 110px;
}

td.perf {
  width: 70px;
}

td.rating {
  width: 70px;
}

@media (max-width: 1550px) {
  .standingsWrapper {
    font-size: 0.9rem;

    --placement-width: 1rem;
  }

  td.score {
    width: 90px;
  }

  td.perf {
    width: 50px;
  }

  td.rating {
    display: none;
  }
}
