.standingsWindow h2 {
  margin-top: 0.75rem;
}

.standingsEntry {
  display: grid;
  grid-template-columns: 2rem 1fr 13rem 3rem;
  padding-right: 1px;
}

.standingsScore {
  text-align: right;
  margin-right: 1rem;
}