:root {
  --board-size: min(calc(100vh - 8rem), calc(100vw - var(--standings-width)));
  --standings-width: 28rem;
  --schedule-width: 28rem;
}

h2 {
  margin: 0;
}

.app {
  margin: 1rem;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: var(--board-size) var(--standings-width) var(--schedule-width);
  gap: 1rem;
}

.popup {
  position: absolute;
  background: #2A2A2AEE;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  overflow: auto;
}

.popup button {
  position: absolute;
  right: 0;
}

.boardWindow {
  max-height: 100%;
  width: var(--board-size);
  border: 1px solid #121212;
}

.board {
  width: var(--board-size);
  height: var(--board-size);
}

.board cg-board {
  background-color: #8ca2ad;
}

.standingsWindow {
  max-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.standingsWindow .showCrosstable {
  width: 100%;
}

.eventListContainer {
  overflow: auto;
}

.eventList {
  background: #2A2A2A;
  border: 1px solid #121212;
  width: 100%;
  border-collapse: collapse;
}

.eventList td {
  border-bottom: 1px solid #121212;
  padding: 0.5rem;
  cursor: pointer;
}

.eventList tr:nth-child(2n) td {
  background: #323232;
}

.eventList td:hover {
  background: #434343 !important;
}