:root {
  --standings-width: 28rem;
  --schedule-width: 28rem;
  --engines-width: 350px;
  --graph-height: 25rem;
  --board-size: min(
    100vh - var(--graph-height),
    calc(
      100vw - var(--standings-width) - var(--schedule-width) -
        var(--engines-width)
    )
  );
}

@media (max-width: 1920px) {
  :root {
    --standings-width: calc(28rem - (1920px - 100vw));
  }
}

@media (max-width: 1425px) {
  :root {
    --standings-width: 2.5rem;
  }
}

.app {
  margin: 1rem;
  width: calc(100vw - 2rem);
  height: calc(100vh - 2rem);
  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: var(--engines-width) var(--board-size) 1fr;
  grid-template-rows: 50px var(--board-size) minmax(0, 1fr);
  gap: 1rem;
}

.topBar,
.scheduleWindow,
.standingsWindow,
.graphWindow,
.board,
.movesWindow,
.engineWindowMobile {
  position: relative;
  border-radius: 8px;
  background: #343434;
  border: 1px solid #1a1a1a;
  padding: 1rem;
  overflow: hidden;
}

.engineWindowMobile {
  padding: 0rem 0rem 0rem 0rem;
}

.engineTabs {
  background: #343434;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #333;
  padding: 0.3rem 0rem 0.3rem 0rem;
  gap: 0.5rem;
}

.topBar {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  gap: 1rem;
  font-weight: bold;
}

.topBar .currentEvent {
  padding-left: 0.5rem;
}

.app:has(.popup),
body:has(.popup) {
  overflow: hidden;
}

.popup {
  position: fixed;
  background: #2a2a2a;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;

  z-index: 100;
  overflow: auto;
}

.engineWindow {
  height: var(--board-size);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  max-width: 100%;
  overflow: hidden;
  gap: 1rem;
}

.movesWindow {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.boardWindow {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.boardWindow .board {
  width: var(--board-size);
  height: var(--board-size);
  border: 1px solid #1a1a1a;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boardWindow .board cg-container {
  width: var(--board-size) !important;
  height: var(--board-size) !important;
}

.boardWindow .board cg-board {
  background-color: #8ca2ad;
}

.scheduleWindow {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 2fr;
  gap: 1rem;
  grid-column: 3 / 4;
}

.graphWindow {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.standingsWindow {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  grid-column: 3 / 4;
  gap: 1rem;
  position: relative;
}

.standingsWindow button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}

@media (max-width: 1400px) {
  :root {
    --board-size: min(100vh - var(--graph-height) - 2rem);
    --graph-height: 25rem;
  }

  .app {
    grid-template-columns: var(--board-size) 1fr;
    grid-template-rows:
      50px var(--board-size) calc(var(--graph-height) - 6rem)
      300px;
    height: auto;
    overflow-y: auto;
  }

  .topBar {
    grid-column: 1 / 3;
  }

  .boardWindow {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .engineWindow {
    grid-row: 2 / 3;
  }

  .standingsWindow {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .graphWindow {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .scheduleWindow {
    grid-column: 2 / 3;
  }

  .movesWindow {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

@media (max-width: 1150px) {
  :root {
    --board-size: 50vw;
    --graph-height: 25rem;
  }

  .app {
    grid-template-columns: var(--board-size) 1fr;
    grid-template-rows:
      50px var(--board-size) calc(var(--graph-height) - 6rem)
      300px 300px;
    height: auto;
    overflow-y: auto;
  }

  .scheduleWindow {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  .standingsWindow {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .graphWindow {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .movesWindow {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }
}

@media (max-width: 850px) {
  :root {
    --board-size: calc(100vw - 350px);
  }
}

@media (max-width: 775px) {
  :root {
    --board-size: calc(100vw - 2rem);
    --graph-height: 18rem;
  }

  .app {
    grid-template-columns: 1fr;
    grid-template-rows:
      auto auto auto var(--graph-height) minmax(auto, 600px)
      600px;
    height: auto;
    overflow-y: auto;
  }

  .topBar {
    grid-column: 1 / 2;
    flex-direction: column;
    align-items: flex-start;
    display: grid;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
  }

  .engineWindow {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0.5rem;
    height: auto;
  }

  .boardWindow {
    grid-column: 1 / 2;
  }

  .boardWindow .board {
    border-radius: 0px;
  }

  .movesWindow {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
  }

  .standingsWindow {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  .scheduleWindow {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }

  .graphWindow {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}
