:root,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

    background: #212121;
}

* {
    color: #FAFAFA;
}

button {
    outline: none;
    border: none;
    background: #343434;
    padding: 0.5rem 0.625rem;
    cursor: pointer;
}

button:hover {
    background: #434343;
}

button.active {
    background: #4D4D4D;
}